@namespace Stasis.UI
@using System
@using Stasis.Data
@using Stasis.UI
@inherits PanelComponent

<root>
    <div class="sub">
        <div class="panel">
            <div class="left">
                <div class="up">
                    <div class="tabrow">
                        <div class="tab @(!scoreTabSelected?"active":"")"
                            onclick="@(() => {scoreTabSelected = !scoreTabSelected;})">Info</div>
                        <div class="tab @(scoreTabSelected?"active":"")"
                            onclick="@(() => {scoreTabSelected = !scoreTabSelected;})">Scores</div>
                    </div>
                </div>
                <div class="down">
                    <LB style="@($"display:" + (!scoreTabSelected ? "none" : "flex") + ";")" />
                    <InfoCard style="@($"display:" + (scoreTabSelected ? "none" : "flex") + ";")" />
                </div>
            </div>
            <div class="right">
                <div class="up">
                    <div class="tabrow">
                        <div class="tab @(selectedType == "official" ? "active": "")"
                            onclick="@(() => {SelectType("official");})">Official</div>
                        <div class="tab @(selectedType == "featured" ? "active": "")"
                            onclick="@(() => {SelectType("featured");})">Featured</div>
                        <div class="tab @(selectedType == "community" ? "active": "")"
                            onclick="@(() => {SelectType("community");})">Community</div>
                    </div>
                </div>
                <div class="down">
                    <MapsList />
                </div>
            </div>
        </div>
        <div class="bk">
            <div class="back" onclick="@CloseMenu">
                <div class="text">Back</div>
                <div class="bg" onclick="@CloseMenu"></div>
            </div>
        </div>
    </div>
</root>

@code
{
    public MapsList list { get; set; }
    public InfoCard infCard { get; set; }
    public LB leaderboard { get; set; }
    public MenuController MenuC { get; set; }
    public List<MapData> Official { get; set; } = new List<MapData>();
    public List<MapData> Featured { get; set; } = new List<MapData>();
    public List<MapData> Community { get; set; } = new List<MapData>();
    public bool scoreTabSelected { get; set; } = false;
    public int selectedMapId { get; set; } = 0;
    public string selectedType { get; set; } = "official";
    public bool copied = false;
    public void SelectType(string type)
    {
        selectedType = type;
        list.Update();
    }
    public void ShowInfo(int i)
    {
        selectedMapId = i;
        infCard.Update();
        leaderboard.Update();
    }
    public List<MapData> GetList(string type)
    {
        return type == "official" ? Official : type == "featured" ? Featured : Community;
    }
    public void Copy()
    {
        copied = true;
        MenuC.Copy();
    }
    public MapData GetSelectedMap()
    {
        return GetList(selectedType)[selectedMapId];
    }
    void CloseMenu()
    {
        MenuC.CloseChooseMenu();
        copied = false;
    }
    protected override void OnAwake()
    {
        base.OnAwake();
        MenuC = GameObject.Parent.Components.Get<MenuController>();
    }

    protected override int BuildHash() => System.HashCode.Combine(Official, Featured, Community
    , selectedType, selectedMapId, scoreTabSelected);
}
