@using Sandbox;
@using System;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="panel">
        <div class="left">

        <div class="score" >
            <div class="timer">
                <div class="time"> @Time</div>
                <div class="mil @(timesave ? "green":"red")"> @TimeMil</div>
            </div>
            <div class="trophy">
                <div class="times">
                    <div class="gold @(medal == 3 ? "active" : "")" >@Gold</div>
                    <div class="silver @(medal == 2 ? "active" : "")">@Silver</div>
                    <div class="bronze @(medal == 1 ? "active" : "")">@Bronze</div>
                </div>
                    <div class="img">
                        <img src=@img>
                </div>
            </div>
        </div>
        <div class="name">@Name</div>
        </div>
        <div class="right">
            <div class="up">
                <div class="author">By: @Author</div>
                <div class="exit" onclick="@(x => { GameObject.Enabled = false;} )">
                    <p>X</p>
                </div>

            </div>
            <div class="down">
                @for (int i = 0; i < Scores.Count(); i++)
                {
                    var time = Sng.Inst.FormatTime(Scores[i].Time);
                    Log.Info(time);
                    if (i % 2 == 0)
                    {
                        <div class="list-item " style="background-color: rgba(0, 0,0,0.2);">
                            <div class="count">@(i + 1).</div>
                            <div class="time">@(time)</div>
                        </div>
                    }
                    else
                    {
                        <div class="list-item ">
                            <div class="count">@(i + 1).</div>
                            <div class="time">@(time)</div>
                        </div>
                    } 
                }
            </div>
        </div>


    </div>
</root>

@code
{
    public bool timesave { get; set; }
    public int medal { get; set; }
    public string _img;
    public string img{
        get
        {
            return $"img/medal{_img}.png";
        }
        set { _img = value; }
    }
    public string Time { get; set; }
    public string Gold { get; set; }
    public string Silver { get; set; }
    public string Bronze { get; set; }
    public string Author { get; set; }
    public string Name { get; set; }
    public string TimeDif { get; set; }
    public string TimeMil { get; set; }
    public List<Score> Scores { get; set; } = new List<Score>();
    /*
     * 
    protected override void OnAwake()
    {
        base.OnAwake();
        medal = 2;
        img = "2";
        Time = "1.54.";
        Gold = "0.25.000";
        Silver = "0.25.000";
        Bronze = "0.25.000";
        TimeDif = "-1.54.335";
        TimeMil = "414";
        Author = "Daiter Andrew Brown";
        Name = "PLAYGROUND_EXTENDED";
        Scores.Add(new Score(1.50f,DateTime.Now));
        Scores.Add(new Score(1.50f,DateTime.Now));
        Scores.Add(new Score(1.50f,DateTime.Now));
        Scores.Add(new Score(1.50f,DateTime.Now));
        Scores.Add(new Score(1.50f,DateTime.Now));
        Scores.Add(new Score(1.50f,DateTime.Now));
        Scores.Add(new Score(1.50f,DateTime.Now));
        Scores.Add(new Score(1.50f,DateTime.Now));
        Scores.Add(new Score(1.50f,DateTime.Now));
        Scores.Add(new Score(1.50f,DateTime.Now));
        Scores.Add(new Score(1.50f,DateTime.Now));
        Scores.Add(new Score(1.50f,DateTime.Now));
        Scores.Add(new Score(1.50f,DateTime.Now));
        Scores.Add(new Score(1.50f,DateTime.Now));
        Scores.Add(new Score(1.50f,DateTime.Now));
        Scores.Add(new Score(1.50f,DateTime.Now));
        Scores.Add(new Score(1.50f,DateTime.Now));
        Scores.Add(new Score(1.50f,DateTime.Now));
        Scores.Add(new Score(1.50f,DateTime.Now));
        Scores.Add(new Score(1.50f,DateTime.Now));
        Scores.Add(new Score(1.50f,DateTime.Now));
    }

     */
    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( Time );
}