@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
<root>
    <div class="test">@Gain</div>
        <div class="timer">@Timer</div>
        <div class="speedVert">@SpeedVert</div>
        <div class="speed">@SpeedMain</div>
        <div class="bot">
            <div class="speedHor">@SpeedHor</div>
        </div>
</root>

@code
{
    public string SpeedMain { get; set; } = "0";
    public string SpeedHor { get; set; } = "0";
    public string SpeedVert { get; set; } = "0";
    public string Gain { get; set; } = "";
    public string Timer { get; set; } = "";

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( SpeedMain, Timer );}
