@using Sandbox;
@using Sandbox.Data;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="sub">
        <div class="panel">
            <div class="right">
                <div class="sound">Sound Effects</div>
                <div class="slider">
                    <div class="left" onclick="@(x => Volume(false))">@("<")</div>
                    <div class="num">
                       @volume 
                    </div>
                    <div class="right" onclick="@(x => Volume(true))">></div>
                </div>
                <div class="invx">Invert Mouse X</div>
                <div class="checkbox" onclick="@(x => Invert(true))">
                   @if(mx){
                        <p>X</p>
                    } 
                </div>

                <div class="invx" >Invert Mouse Y</div>
                <div class="checkbox" onclick="@(x => Invert(false))">
                   @if(my){
                        <p>X</p>
                    } 
                </div>

            </div>
        </div>
            <div class="bk">
                <div class="back" onclick="@MenuC.CloseSettings">
                    <div class="text">Back</div>
                    <div class="bg" onclick="@MenuC.CloseSettings"></div>
                </div>
            </div>
    </div>
</root>

@code
{
    MenuController MenuC { get; set; }
    FileController FC { get; set; }
    int volume { get; set; }
    bool mx { get; set; }
    bool my { get; set; }

    void Volume(bool up)
    {
        var add = up ? 1 : -1;

        if(volume + add < 0)
        {
            return;
        }
        else if(volume + add > 10)
        {
            return;
        }

        volume += add;
        FC.Set.Volume = volume;
        MenuC.UpdateSettings();
		FC.SaveSettings();
    }
    void Invert(bool isX)
    {
        if (isX)
        {
            FC.Set.MouseInvertX = !FC.Set.MouseInvertX;
            mx = FC.Set.MouseInvertX;
        }
        else
        {
            FC.Set.MouseInvertY = !FC.Set.MouseInvertY;
            my = FC.Set.MouseInvertY;
        }
        MenuC.UpdateSettings();
		FC.SaveSettings();
    }
    protected override void OnAwake()
    {
        base.OnAwake();
        MenuC = GameObject.Parent.Components.Get<MenuController>();
        FC = Sng.Inst.File;
    }
    protected override void OnTreeFirstBuilt()
    {
        base.OnTreeFirstBuilt();
        volume = FC.Set.Volume;
        mx = FC.Set.MouseInvertX;
        my = FC.Set.MouseInvertY;
    }

}
